body {
    overflow-x:hidden;
}
:root {
    --margin-left-main: 25vw;
    --margin-left-aside: 1vw;
    --height:80vh;
}
.searchId{
    width:100%;
    margin:0;
    height:10%;
    align-content:center;
}
.searchBar {
    border-radius: 7px;
    margin: 0;
    height: 70%;
    width: 70%;
    font-size: 1.5em;
}
.searchBtn{
    border-radius:7px;
    border:1px solid transparent;
    color:white;
    margin:0;
    font-size:1.2em;
    background-color:blue;
    height:70%;
    width:25%;
}
.left-aside {
    position: relative;
    float: left;
    margin-left: var(--margin-left-aside);
    width: calc(var( --margin-left-main) - calc(2* var(--margin-left-aside)));
    z-index: 1;
    height: var(--height);
    border: 1px solid black;
    padding: 1%;
}
main {
    margin-top: 5vh;
    width: calc(100vw - var(--margin-left-main));
    height: var(--height);
    padding: 3%;
    margin: 0;
    margin: 0 0 0 var( --margin-left-main);
    padding: 0;
    overflow: hidden;
    *
    {
        margin: 0;
        padding: 0;
    }
}

#title {
    margin:10vh 0 5vh 20vw;
}

.medications {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.items
{
    height: 95%;
    width: 85%;
    padding: 5%;
}

.items:hover {
    border: 1px solid black;
    border-radius: 7px;
}