html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  scroll-behavior:smooth;
}
.everything{
    height:100vh;
    width:100vw;
    padding:3%;
   
}
#title {
    margin-left: 25vw;
    margin-top:10vh;
}
.medications {
    margin-right: 5vw;
    margin-left: 25vw;
    margin-top: 5vh;
    width: 70vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x:hidden;
    .items{
           height:95%;
           width:85%;
           padding:5%;
       }
.items:hover  {
    border: 1px solid black;
    border-radius: 7px;
}

     
}